.viewer {
  .header {
    margin-bottom: var(--spacing-medium);
    padding-bottom: var(--spacing-small);
    border-bottom: var(--border-size) solid var(--color-tertiary);

    .info {
      display: flex;
      justify-content: space-between;

      :first-child {
        padding-right: var(--spacing-base);
      }
    }
  }

  .main {
    .description {
      margin: var(--spacing-medium) 0;
    }
  }

  .footer {
    display: flex;
    justify-content: flex-end;
  }
}
