.viewer {
  height: 100vh;

  .header {
    margin-bottom: var(--spacing-medium);

    .info {
      display: flex;
      justify-content: space-between;
      border-bottom: var(--border-size) solid var(--color-tertiary);
      margin-bottom: var(--spacing-small);
      padding-bottom: var(--spacing-small);

      :first-child {
        padding-right: var(--spacing-base);
      }
    }
  }

  .main {
    .description {
      margin: var(--spacing-medium) 0;
    }
  }

  .footer {
    display: flex;
    justify-content: flex-end;
  }
}
