@import '@styles/mixins';

.navbar {
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  height: 70px;
  z-index: 2;
  background-color: var(--background-color-primary);

  &--scrolled {
    box-shadow: var(--shadow-color) var(--shadow-translate);
  }

  .wrapper {
    width: 100%;
    max-width: 1500px;
    margin-right: auto;
    margin-left: auto;
    padding-left: var(--spacing-base);
    padding-right: var(--spacing-base);
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    align-items: center;
  }

  .navbar-brand {
    font-weight: 700;
    color: var(--color-primary);
    font-size: 25px;
    span:last-child {
      font-weight: 300;
    }
  }

  .navbar-toggle {
    display: none;
    background: none;
    border: none;
    padding: 0;

    .toggle-line {
      width: 25px;
      height: 2px;
      background-color: var(--color-primary);
      display: block;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
  }

  .navbar-nav {
    font-size: var(--font-size-small);
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;

    & > * {
      width: fit-content;
    }

    .nav-item {
      &:not(:last-child) {
        margin-right: var(--spacing-medium);
      }

      &:hover {
        color: var(--color-primary);
      }
    }
  }
}

@include medium-screen() {
  .navbar {
    .wrapper {
      padding-left: var(--spacing-small);
      padding-right: var(--spacing-small);
    }

    .navbar-toggle {
      display: block;

      &--show {
        .toggle-line {
          &:nth-child(2) {
            opacity: 0;
          }

          &:nth-child(1) {
            -webkit-transform: translateY(7px) rotate(45deg);
            -ms-transform: translateY(7px) rotate(45deg);
            -o-transform: translateY(7px) rotate(45deg);
            transform: translateY(7px) rotate(45deg);
          }

          &:nth-child(3) {
            -webkit-transform: translateY(-7px) rotate(-45deg);
            -ms-transform: translateY(-7px) rotate(-45deg);
            -o-transform: translateY(-7px) rotate(-45deg);
            transform: translateY(-7px) rotate(-45deg);
          }
        }
      }
    }

    .navbar-collapse {
      display: none;

      &--show {
        width: 100%;
        display: initial;
        position: fixed;
        top: 70px;
        left: 0;
        height: calc(100vh - 70px);
        background-color: var(--background-color-primary);
        padding: var(--spacing-base);
      }
    }

    .navbar-nav {
      flex-direction: column;

      .nav-item {
        &:not(:last-child) {
          margin-bottom: var(--spacing-base);
        }
      }
    }
  }
}
