.typhography {
  text-decoration: none;

  @at-root {
    h1#{&} {
      margin: 0 0 var(--spacing-medium) 0;
    }
  }

  &--primary {
    color: var(--color-primary);
  }

  &--special {
    color: var(--special-color);
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--strong {
    font-weight: bold;
  }

  &-title {
    font-size: var(--font-size-extra-large);
  }

  &-sub-title {
    font-size: var(--font-size-base);
  }

  &-sub-sub-title {
    font-size: var(--font-size-small);
  }
}
