.typhography {
  text-decoration: none;

  &--primary {
    color: var(--color-primary);
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--strong {
    font-weight: bold;
  }

  &-title {
    font-size: var(--font-size-extra-large);
  }

  &-sub-title {
    font-size: var(--font-size-base);
  }

  &-sub-sub-title {
    font-size: var(--font-size-small);
  }

  &-header {
    padding-bottom: var(--spacing-medium);
  }
}
