.project-container {
  .nav {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    margin-bottom: var(--spacing-base);

    .nav-item {
      &--active {
        border-bottom: var(--border-size) solid var(--special-color);

        > * {
          color: var(--special-color);
        }
      }

      &:not(:first-child) {
        margin-left: var(--spacing-base);
      }

      &:hover:not(&--active) {
        cursor: pointer;
        > * {
          color: var(--special-color);
        }
      }
    }
  }

  .card-list {
    display: flex;
    justify-content: center;

    .content {
      display: flex;
      flex-direction: row;
      overflow-x: scroll;

      > * {
        margin: var(--spacing-base);

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
