.project-container {
  .card-list {
    display: flex;
    justify-content: center;

    .content {
      display: flex;
      flex-direction: row;
      overflow-x: scroll;

      > * {
        margin: var(--spacing-base);
      }
    }
  }
}
