.project-container {
  .nav {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    margin-bottom: var(--spacing-base);

    .nav-item {
      &--active {
        border-bottom: var(--border-size) solid var(--color-primary);
      }

      &:not(:first-child) {
        margin-left: var(--spacing-base);
      }

      &:hover:not(&--active) {
        cursor: pointer;
        border-bottom: var(--border-size) solid var(--color-primary);
      }
    }
  }

  .card-list {
    display: flex;
    justify-content: center;

    .content {
      display: flex;
      flex-direction: row;
      overflow-x: scroll;

      > * {
        margin: var(--spacing-base);
      }
    }
  }
}
