.education-page {
  .header {
    margin-bottom: var(--spacing-medium);
    padding-bottom: var(--spacing-small);
    border-bottom: var(--border-size) solid var(--border-color);

    .info {
      display: flex;
      justify-content: space-between;
    }
  }

  .main {
    .description {
      margin: var(--spacing-medium) 0;
    }
  }

  .footer {
    float: right;
  }
}
