.light-mode {
  --background-color-primary: var(--white-ghost);
  --background-color-secondary: var(--white);
  --color-primary: var(--black-light);
  --color-secondary: var(--black-gray);
  --color-tertiary: var(--gray);
  --special-color: var(--blue);
  --special-color-contrast: var(--white);
  --shadow-color: var(--gray-dark);
  --background-color-gradient: linear-gradient(
    to top right,
    var(--background-color-primary),
    var(--background-color-primary)
  );
}

.dark-mode {
  --background-color-primary: var(--black-evil);
  --background-color-secondary: var(--black-light);
  --color-primary: var(--gray);
  --color-secondary: var(--white-gray);
  --color-tertiary: var(--gray-dark);
  --special-color: var(--blue);
  --special-color-contrast: var(--white);
  --shadow-color: var(--black);
  --background-color-gradient: linear-gradient(
    to top right,
    var(--background-color-primary),
    var(--background-color-secondary)
  );
}
