.light-mode {
  --background-color-primary: var(--white-smoke);
  --background-color-secondary: var(--white-smoke);
  --color-primary: var(--black);
  --color-secondary: var(--black-gray);
  --special-color: var(--blue);
  --special-color-contrast: var(--white);
  --special-color-hover: var(--dark-blue);
  --shadow-color: var(--gray-dark);
  --border-color: var(--gray);
}

.dark-mode {
  --background-color-primary: var(--black-evil);
  --background-color-secondary: var(--black-light);
  --color-primary: var(--white);
  --color-secondary: var(--white-gray);
  --special-color: var(--blue);
  --special-color-contrast: var(--white);
  --special-color-hover: var(--dark-blue);
  --shadow-color: var(--black);
  --border-color: var(--black);
}
