$black: #000000;
$black-evil: #111213;
$black-light: #2b2b2b;
$black-grey: rgba(0, 0, 0, 0.6);
$white: #ffffff;
$white-smoke: #f9f9f9;
$white-grey: rgba(255, 255, 255, 0.6);
$blue: #3b82f6;
$orange: #ff5f2e;
$grey: #ebebeb;
$grey-light: #ececec;
$grey-dark: rgba(0, 0, 0, 0.3);
$spacing-small: 15px;
$spacing-medium: 50px;
$spacing-big: 100px;
$spacing-ultra: 200px;
$text-small: 14px;
$text-normal: 16px;
$text-medium: 32px;
$text-large: 48px;
$icon-small: 12px;
$icon-normal: 24px;
$icon-medium: 32px;
