@import './variables';
@import './theme';

body {
  padding: 0;
  margin: 0;
  color: var(--color-secondary);
  font: 400 var(--font-size) Roboto, sans-serif;
  background-color: var(--background-color-primary);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.preload {
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

:global {
  .shadow {
    box-shadow: var(--shadow-color) 0px 0px 15px;
  }
}

.shadow {
  box-shadow: var(--shadow-color) 0px 0px 15px;
}
