@import './mixins';
@import './variables';
@import './theme';

* {
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html {
  scroll-behavior: smooth;

  &,
  * {
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
  }

  ::-webkit-scrollbar {
    width: 16px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 8px;
  }

  ::-webkit-scrollbar-thumb {
    height: 56px;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: #888;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
}

body {
  padding: 0;
  margin: 0;
  color: var(--color-secondary);
  font: 400 var(--font-size-base) Roboto, sans-serif;
  background-color: var(--background-color-primary);
}

ul {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  display: flex;
}

.icon {
  height: var(--icon-size-medium);
  max-width: var(--icon-size-medium);

  &--small {
    height: var(--icon-size-small);
    max-width: var(--icon-size-small);
  }

  &:hover:not(.icon--no-effect) {
    path {
      fill: var(--color-primary);
    }
  }

  svg {
    height: inherit;
    width: inherit;

    path {
      fill: var(--color-secondary);
    }
  }
}

.container {
  width: 100%;
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
  padding-left: var(--spacing-base);
  padding-right: var(--spacing-base);

  &-full-screen {
    height: 100vh;
  }

  &-page {
    padding-top: var(--spacing-big);
    padding-bottom: var(--spacing-big);
  }
}

.helper-buttons {
  position: fixed;
  bottom: var(--spacing-big);
  right: var(--spacing-base);
  z-index: 1;

  > *:not(:last-child) {
    margin-bottom: var(--spacing-small);
  }
}

footer {
  text-align: center;

  div {
    min-width: fit-content;
    width: 60%;
    margin: 0 auto;
    padding: var(--spacing-small) 0;
    border-top: var(--border-size) solid var(--border-color);
  }
}

@include medium-screen() {
  .container {
    padding-left: var(--spacing-small);
    padding-right: var(--spacing-small);
  }

  .helper-buttons {
    right: var(--spacing-small);
  }

  footer {
    div {
      width: 90%;
    }
  }
}
