@import '@styles/mixins';

.btn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: var(--font-size-base);
  text-align: center;

  &--hidden {
    display: none;
  }

  &--strong {
    font-weight: bold;
  }

  &--rounded {
    border-radius: var(--border-radius);
  }

  &--upper {
    text-transform: uppercase;
  }

  &--disabled {
    opacity: 0.3;
    // &:hover {
    //   background-color: unset;
    //   color: unset;
    //   fill: unset;
    // }
  }

  :first-child:not(:only-child) {
    margin-right: 10px;
  }

  svg {
    height: var(--icon-size-small);
    max-width: var(--icon-size-small);
  }

  &-default {
    height: 50px;
    border-style: solid;
    border-width: var(--border-size);
    padding: 0 var(--spacing-base);

    &:hover {
      opacity: 0.9;
    }

    :first-child:not(:only-child) {
      margin-right: 5px;
    }

    &--primary {
      border: none;
      background-color: var(--special-color);
      color: var(--special-color-contrast);

      svg {
        path {
          fill: var(--special-color-contrast);
        }
      }
    }
  }

  &-circular {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    box-shadow: var(--shadow-color) var(--shadow-translate);

    &--primary {
      color: var(--color-secondary);
      background-color: var(--background-color-secondary);

      &:hover {
        svg {
          path {
            fill: var(--color-primary);
          }
        }
      }
    }
  }
}
