@import '@styles/mixins';

.btn-floating {
  border: none;
  cursor: pointer;
  background-color: var(--background-color-secondary);
  color: var(--color-secondary);
  align-items: center;
  display: flex;
  justify-content: center;
  position: fixed;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  z-index: 1;
  bottom: var(--spacing-big);
  box-shadow: var(--shadow-color) var(--shadow-translate);

  svg {
    height: var(--icon-size-small);
  }

  &:hover {
    color: var(--color-primary);

    svg {
      path {
        fill: var(--color-primary);
      }
    }
  }

  &--right {
    right: var(--spacing-medium);
  }

  &--left {
    left: var(--spacing-medium);
  }

  &--center-vertically {
    top: 50%;
    transform: translateY(-50%);
  }
}

@include small-screen() {
  .btn-floating {
    &--right {
      right: var(--spacing-base);
    }

    &--left {
      left: var(--spacing-base);
    }
  }
}
