@import '@styles/mixins';

.carousel {
  overflow: hidden;

  .wrapper {
    position: relative;

    .inner {
      white-space: nowrap;
      transition: transform 0.3s;

      .item {
        width: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 40vh;
        background-color: var(--border-color);
        color: #fff;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

    .btn-indicator {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      &--back {
        left: var(--spacing-small);
      }

      &--forward {
        right: var(--spacing-small);
      }
    }
  }

  .slick-dots {
    display: flex;
    padding: var(--spacing-small) 0;
    justify-content: center;

    .dot {
      border-radius: 50%;
      width: 13px;
      height: 13px;
      background-color: var(--background-color-secondary);
      box-shadow: var(--shadow-color) var(--shadow-translate);

      &:not(:first-child) {
        margin-left: var(--spacing-small);
      }
    }

    .active {
      background-color: var(--special-color);
    }
  }
}

@include small-screen() {
  .carousel {
    .wrapper {
      .inner {
        .item {
          height: 30vh;
        }
      }

      .btn-indicator {
        display: none;
      }
    }
  }
}
