@import '@styles/mixins';

.carousel {
  overflow: hidden;

  &--transparent {
    .item {
      background-color: initial !important;
    }
  }

  &--full-height {
    .item {
      height: initial !important;
    }
  }

  .wrapper {
    position: relative;

    .inner {
      white-space: nowrap;
      transition: transform 0.3s;

      .item {
        width: 100%;
        display: inline-flex;
        height: 40vh;
        background-color: var(--color-tertiary);
        white-space: initial;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

    .btn-indicator {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      &--back {
        left: var(--spacing-small);
      }

      &--forward {
        right: var(--spacing-small);
      }
    }
  }

  @include slick-dots;
}

@include small-screen() {
  .carousel {
    .wrapper {
      .inner {
        .item {
          height: 30vh;
        }
      }

      .btn-indicator {
        display: none;
      }
    }
  }
}
