@import '@styles/mixins';

.carousel {
  overflow: hidden;

  &--transparent {
    .item {
      background-color: initial !important;
    }
  }

  &--full-height {
    .item {
      height: initial !important;
    }
  }

  .wrapper {
    position: relative;
    margin-bottom: var(--spacing-base);

    .inner {
      white-space: nowrap;
      transition: transform 0.3s;

      .item {
        width: 100%;
        display: inline-flex;
        height: 40vh;
        background-color: var(--color-tertiary);
        white-space: initial;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

    .btn-indicator {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      &--back {
        left: var(--spacing-small);
      }

      &--forward {
        right: var(--spacing-small);
      }
    }
  }

  .slick-dots {
    display: flex;
    margin: 25px 0;
    justify-content: center;

    .dot {
      border-radius: 50%;
      width: 13px;
      height: 13px;
      background-color: var(--background-color-secondary);
      box-shadow: var(--shadow-color) var(--shadow-translate);

      &:not(:first-child) {
        margin-left: var(--spacing-small);
      }

      &:hover:not(.active) {
        cursor: pointer;
      }
    }

    .active {
      background-color: var(--special-color);
    }
  }
}

@include small-screen() {
  .carousel {
    .wrapper {
      .inner {
        .item {
          height: 30vh;
        }
      }

      .btn-indicator {
        display: none;
      }
    }
  }
}
